openapi: 3.0.1
info:
  title: pVerify Authentication Batch API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. pVerify exchanges EDI 270/271 eligibility transactions, returns plan and benefit summaries, checks 276/277 claim status, lists supported payers, and estimates patient financial responsibility. All API calls require an OAuth2 bearer token obtained from the /Token endpoint and a Client-API-Id header.
  termsOfService: https://www.pverify.com/terms-of-use/
  contact:
    name: pVerify Support
    url: https://pverify.com/contact-support/
  version: '1.0'
servers:
- url: https://api.pverify.com
  description: Production
security:
- bearerAuth: []
  clientApiId: []
tags:
- name: Batch
paths:
  /API/BatchEligibility:
    post:
      operationId: batchEligibility
      tags:
      - Batch
      summary: Submit a batch of eligibility verifications
      description: Submits multiple eligibility verifications in a single request for asynchronous processing; results are retrieved later by batch reference.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchEligibilityRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchSubmissionResponse'
components:
  schemas:
    EligibilityRequest:
      type: object
      required:
      - payerCode
      - provider
      - subscriber
      properties:
        payerCode:
          type: string
          description: pVerify payer code identifying the target insurer.
        payerName:
          type: string
        provider:
          $ref: '#/components/schemas/Provider'
        subscriber:
          $ref: '#/components/schemas/Subscriber'
        dependent:
          $ref: '#/components/schemas/Dependent'
        isSubscriberPatient:
          type: string
          description: '"True" if the subscriber is the patient, otherwise "False".'
        doS_StartDate:
          type: string
          description: Date of service start (MM/DD/YYYY).
        doS_EndDate:
          type: string
          description: Date of service end (MM/DD/YYYY).
        PracticeTypeCode:
          type: string
          description: Code identifying the practice type / benefit set requested.
        referenceId:
          type: string
        Location:
          type: string
        IncludeTextResponse:
          type: boolean
        InternalId:
          type: string
        CustomerID:
          type: string
    BatchEligibilityRequest:
      type: object
      required:
      - requests
      properties:
        batchReferenceId:
          type: string
        requests:
          type: array
          items:
            $ref: '#/components/schemas/EligibilityRequest'
    BatchSubmissionResponse:
      type: object
      properties:
        batchId:
          type: string
        accepted:
          type: integer
        status:
          type: string
    Provider:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        npi:
          type: string
        pin:
          type: string
    Subscriber:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dob:
          type: string
          description: Date of birth (MM/DD/YYYY).
        memberID:
          type: string
    Dependent:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dob:
          type: string
        gender:
          type: string
        patientRelationship:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth2 access token returned by the /Token endpoint.
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify, required on all API calls.
