# Derived from pVerify's published Postman collection: https://postman.pverify.com/
# method: derived  generated: 2026-08-14
openapi: 3.0.3
info:
  title: pVerify Claim Status API
  description: pVerify Claim Status API, derived operation-for-operation from the public Postman collection
    pVerify publishes at https://postman.pverify.com/ (last updated 03/01/2026). All calls require an
    OAuth2 bearer token from POST /Token plus the Client-API-Id header.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Claim Status
paths:
  /API/ClaimStatusInquiry:
    post:
      operationId: claimStatusInquiry
      tags:
      - Claim Status
      summary: ClaimStatusInquiry
      description: "Environment | \nURL | \n\nTest | \nhttps://testapi.pverify.com/API/ClaimStatusInquiry\
        \ | \n\nProduction | \nhttps://api.pverify.com/API/ClaimStatusInquiry | \n\nThe ClaimStatusInquiry\
        \ is the second step of the workflow for obtaining Claim status Information through pVerify. As\
        \ demonstrated below, the ClaimStatusInquiry call takes in subscriber or dependent demographic\
        \ information, along with the authorization token, and returns the claim status among other information.\
        \ To use this or any other method, you must first generate a token via the Token endpoint (see\
        \ above Token method).\n\nField | \nDescription | \n\nURL | \nhttps://api.pverify.com/API/ClaimStatusInquiry\
        \ | \n\nMethod | \nPOST | \n\nHeaders | \nDescription | \n\nContent-Type | \napplication/json\
        \ | \n\nAuthorization | \nBearer XXX | \n\nClient-API-Id* | \nclient-api-id provided by pVerify\
        \ | \n\nBody | \nSee right | \n\n*Note: The Client-API-Id header is required. Header keys are\
        \ case sensitive.\n\nNote: The ClaimStatusInquiry for dependents is the same for self. However,\
        \ it uses different data parameters.\n\nClaimStatusInquiry Request Fields for Self\n\nProperty\
        \ Name | \nData Type | \nUsage | \nDescription | \n\npayerCode | \nString | \nRequired | \npVerify\
        \ payer Code (i.e. Aetna 00001) | \n\nProviderLastName | \nString | \nOptional | \nProvider Last\
        \ Name | \n\nProviderNPI | \nString | \nConditional | \n10-digit NPI value (Not required when\
        \ ProviderFederalTaxId is available) | \n\nProviderFederalTaxId | \nString | \nConditional | \n\
        9 - digit Federal Tax Id (EIN) (not required when NPI is available) | \n\npayerClaimNumber | \n\
        String | \nConditional | \nPayer claim number | \n\nchargeAmount | \nString | \nRequired | \n\
        Charge Amount | \n\nserviceStartDate | \nString | \nRequired | \nStart date of service (Expected\
        \ format: MM/dd/YYYY ie 01/01/2000) | \n\nserviceEndDate | \nString | \nRequired | \nEnd date\
        \ of service (Expected format: MM/dd/YYYY ie 01/01/2000) | \n\nsubscriber | \nObject | \nRequired\
        \ | \nSubscriber demographic information | \n\nsubscriber.FirstName | \nString | \nConditional\
        \ | \nSubscriber first name | \n\nsubscriber.lastName | \nString | \nConditional | \nSubscriber\
        \ last name | \n\nsubscriber.dob | \nString | \nConditional | \nSubscriber Date of Birth (Expected\
        \ format: MM/dd/YYYY ie 01/01/2000) | \n\nsubscriber.memberID | \nString | \nConditional | \n\
        Member ID of subscriber | \n\nsubscriber.gender | \nString | \nConditional | \nGender of subscriber.\
        \ Allowed M, F or O | \n\nisPatientDependent | \nboolean | \nOptional | \nDetermines if the patient\
        \ is dependent | \n\nClaimStatusInquiry Request Fields for Dependents\n\nProperty Name | \nData\
        \ Type | \nRequired | \nDescription | \n\npayerCode | \nString | \nYes | \npVerify payer Code\
        \ (i.e. Aetna 00001) | \n\nProviderLastName | \nString | \nNo | \nProvider Last Name | \n\nProviderNPI\
        \ | \nString | \nConditional | \n10-digit NPI value (Not required when ProviderFederalTaxId is\
        \ available) | \n\nProviderFederalTaxId | \nString | \nConditional | \n9 - digit Federal Tax Id\
        \ (EIN) (not required when NPI is available) | \n\npayerClaimNumber | \nString | \nConditional\
        \ | \nPayer claim number | \n\nchargeAmount | \nString | \nYes | \nCharge Amount | \n\nserviceStartDate\
        \ | \nString | \nYes | \nStart date of service (Expected format: MM/dd/YYYY ie 01/01/2000) | \n\
        \nserviceEndDate | \nString | \nYes | \nEnd date of service (Expected format: MM/dd/YYYY ie 01/01/2000)\
        \ | \n\nsubscriber | \nObject | \nYes | \nSubscriber demographic information | \n\nsubscriber.FirstName\
        \ | \nString | \nConditional | \nSubscriber first name | \n\nsubscriber.lastName | \nString |\
        \ \nConditional | \nSubscriber last name | \n\nsubscriber.dob | \nString | \nConditional | \n\
        Subscriber Date of Birth (Expected format: MM/dd/YYYY ie 01/01/2000) | \n\nsubscriber.memberID\
        \ | \nString | \nConditional | \nMember ID of subscriber | \n\nsubscriber.gender | \nString |\
        \ \nConditional | \nGender of subscriber.Allowed M, F or O | \n\nisPatientDependent | \nboolean\
        \ | \nNo | \nDetermines if the patient is dependent | \n\ndependent | \nObject | \nConditional\
        \ | \nDependent demographic information | \n\ndependent.FirstName | \nString | \nConditional |\
        \ \nDependent first name | \n\ndependent.lastName | \nString | \nConditional | \nDependent last\
        \ name | \n\ndependent.dob | \nString | \nNo | \nDependent Date of Birth (Expected format: MM/dd/YYYY\
        \ ie 01/01/2000) | \n\ndependent.gender | \nString | \nConditional | \nGender of Dependent.Allowed\
        \ M, F or O | \n\nClaimStatusInquiry Response Fields\n\nProperty Name | \nData Type | \nDescription\
        \ | \n\nRequestID | \nLong | \nClaim Status Request ID | \n\napiResponseCode | \nint | \nAPI transaction\
        \ response code. Please see apiResponseCode table | \n\napiResponseMessage | \nString | \nAPI\
        \ transaction response message | \n\nProcessedWithError | \nString | \ntrue when processed with\
        \ error by the payer. | \n\npayerClaimNo | \nString | \nPayer Claim Number (if returned in EDI\
        \ 277) | \n\ncategoryCode | \nString | \nCategory code of claim status | \n\ncategory | \nString\
        \ | \nCategory of claim status | \n\nclaimStatusReasonCode | \nString | \nClaim Status Code |\
        \ \n\nclaimStatus | \nString | \nClaim status text | \n\npayer | \nPayer | \nContains payer info\
        \ | \n\nproviderInfo | \nInfo | \nContains provider info | \n\nsubscriber | \nInfo | \nContains\
        \ Subscriber info | \n\ndependent | \nInfo | \nContains dependent info | \n\nClaimStatuses | \n\
        List | \nContains Claim Status Info | \n\nClaimStatuses.serviceLine | \nList | \nContains Claim\
        \ Service line item info, ie: Code specific info | \n\nThe API Response Codes and there description\
        \ are shown below.\n\nAPIResponseCode | \nDescription | \n\n0 | \nProcessed | \n\n1 | \nRejected\
        \ | \n\n2 | \nNoFunds (insufficient account balance) | \n\n3 | \nInvalidRequest (Required data\
        \ missing) | \n\n4 | \nInvalidFormat (data format or data fields are wrong) | \n\n5 | \nInvalidPayer\
        \ (Payer does not support Claim Status electronically / inactive) | \n\n6 | \nLocationError (Location\
        \ is not configured) |"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payerCode:
                  type: string
                  example: '00001'
                ProviderLastName:
                  type: string
                  example: lastname
                ProviderNPI:
                  type: string
                  example: '1234567890'
                ProviderFederalTaxId:
                  type: string
                payerClaimNumber:
                  type: string
                chargeAmount:
                  type: number
                  example: 732.87
                serviceStartDate:
                  type: string
                  example: 04/01/2020
                serviceEndDate:
                  type: string
                  example: 04/01/2020
                subscriber:
                  type: object
                  properties:
                    FirstName:
                      type: string
                    lastName:
                      type: string
                      example: lastname
                    dob:
                      type: string
                      example: 07/07/2010
                    memberID:
                      type: string
                      example: memberID
                    gender:
                      nullable: true
                isPatientDependent:
                  type: boolean
                  example: false
            example:
              payerCode: '00001'
              ProviderLastName: lastname
              ProviderNPI: '1234567890'
              ProviderFederalTaxId: ''
              payerClaimNumber: ''
              chargeAmount: 732.87
              serviceStartDate: 04/01/2020
              serviceEndDate: 04/01/2020
              subscriber:
                FirstName: ''
                lastName: lastname
                dob: 07/07/2010
                memberID: memberID
                gender: null
              isPatientDependent: false
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetClaimStatusResponse/{requestId}:
    get:
      operationId: getClaimStatusResponse
      tags:
      - Claim Status
      summary: GetClaimStatusResponse
      description: "Environment | \nURL | \n\nTest | \nhttps://testapi.pverify.com/API/GetClaimStatusResponse/{requestId}\
        \ | \n\nProduction | \nhttps://api.pverify.com/API/GetClaimStatusResponse/{requestId} | \n\nThis\
        \ GET method is used to obtain the transaction result later using a unique request ID. Note: the\
        \ data is deleted after 90 days.\n\nField | \nDescription | \n\nURL | \nhttps://api.pverify.com/API/GetClaimStatusResponse/{requestId}\
        \ | \n\nMethod | \nGET | \n\nHeaders | \nDescription | \n\nAuthorization | \nBearer XXX | \n\n\
        Client-API-Id | \nclient-api-id provided through pVerify | \n\nContent-Type | \napplication/json\
        \ | \n\nURL Parameters | \nUnique Request id | \n\nData Parameters | \nNone | \n\nA successful\
        \ GetClaimStatusResponse call will have the same format as the ClaimStatusInquiry response (above)."
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case
        sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the
        premium report endpoints.
