openapi: 3.2.0
info:
  title: pVerify Estimation API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Estimation
paths:
  /api/EstimateCalculation:
    post:
      operationId: estimateCalculation
      tags:
      - Estimation
      summary: EstimateCalculation
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/api/EstimateCalculation |


        This POST call will get an estimated price from CMS (Medicare) non-facility price index. In order for you to use this, we must add the estimator service (which is free) to your account. Additionally, for the Zip code, use 0 for national pricing, and you can send an array of CPT codes per the Postman example. Please note, due to the nature of the EstimateCalculation call, no test credentials are available.


        EstimateCalculation Request


        Key |

        Value |


        URL |

        https://api.pverify.com/api/EstimateCalculation |


        Method |

        POST |


        Headers |

        Description |


        Client-API-Id* |

        Your pVerify client-api-id |


        Content-Type |

        application/json |


        Body |

        Description |


        Data Parameters |

        See fields to the right |


        *Note: The Client-API-Id is required in header. Header keys are case sensitive.


        EstimateCalculation Request Fields


        Field |

        Type |

        Description |


        zipCode |

        String |

        Zip code of your location. Use 0 for national pricing. |


        cptCodes |

        String |

        Array of CPT codes needed for estimate. If there is a modifier include it as a dash. For example, 93024-TC would be the cardiac drug stress test technical component. |


        coPay |

        String |

        Dollar amount of patient copay. |


        coinsPercentage |

        String |

        In percent, coinsurance |


        deductibleRemaining |

        String |

        Dollar amount of deductible remaining |


        outofPocketRemaining |

        String |

        Out of pocket remaining- if this is blank we will not include this in the calculation. |


        isCopayIncludeInDeductible |

        Boolean |

        Add copay to coinsurance or not. |


        isSecondaryStatusActive |

        Boolean |

        If patient has secondary insurance- if this is true then patient responsibility is zero. |


        NonMedicareMultipleFactor |

        Decimal |

        NonMedicare Multiple factor to CPT values calculation |


        InternalId |

        String |

        Internal Id for patient |


        EstimateCalculation Response


        Field |

        Description |


        patientResponsibility |

        The amount the patient owes. |


        copay |

        Patient copay. |


        coInsPercentage |

        Coinsurance percentage. |


        coInsAmount |

        Coinsurance Amount. |


        estimatedAllowable |

        THe sum of the charges (note: not all charges are approved by CMS) |


        deductibleRemainging |

        Amount of deductible remaining.+ |


        outOfPocketRemaining |

        Amount remaining for out of pocket.++ |


        amountPayable |

        Amount Payable |


        selected CPTs |

        Selected CPT codes |


        zipCode |

        Zip code returned |


        apiResponseCode |

        API response code |


        apiResponseMessage |

        API response message |


        InternalId |

        Internal Id for patient |


        +The deductible must be met before insurance applies. For example, if the deductible remaining is 1000, then the patient will have to pay out of pocket $1000 for next procedure as long as the procedure amount > $1000.++This is typically a high number. Once it reaches zero, the patient responsibility is zero. It is designed for catastrophic coverage ie: major surgery or chemotherapy.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                zipCode:
                  type: string
                  example: '27713'
                cptCodes:
                  type: array
                  items:
                    type: string
                    example: '10061'
                coPay:
                  type: string
                  example: '20'
                coinsPercentage:
                  type: string
                  example: '30'
                deductibleRemaining:
                  type: string
                  example: '40'
                outofPocketRemaining:
                  type: string
                isCopayIncludeInDeductible:
                  type: boolean
                  example: false
                isSecondryStatusActive:
                  type: boolean
                  example: false
                NonMedicareMultipleFactor:
                  type: number
                  example: 1.2
                InternalId: {}
            example:
              zipCode: '27713'
              cptCodes:
              - '10061'
              - 0191T
              - '33300'
              coPay: '20'
              coinsPercentage: '30'
              deductibleRemaining: '40'
              outofPocketRemaining: ''
              isCopayIncludeInDeductible: false
              isSecondryStatusActive: false
              NonMedicareMultipleFactor: 1.2
              InternalId: null
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
