# Derived from pVerify's published Postman collection: https://postman.pverify.com/
# method: derived  generated: 2026-08-14
openapi: 3.0.3
info:
  title: pVerify Authentication API
  description: pVerify Authentication API, derived operation-for-operation from the public Postman collection
    pVerify publishes at https://postman.pverify.com/ (last updated 03/01/2026). All calls require an
    OAuth2 bearer token from POST /Token plus the Client-API-Id header.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Authentication
paths:
  /Token:
    post:
      operationId: createToken
      tags:
      - Authentication
      summary: Token
      description: "Environment | \nURL | \n\nTest | \nhttps://testapi.pverify.com/Token | \n\nProduction\
        \ | \nhttps://api.pverify.com/Token | \n\nThe first step to using the system is a call to the\
        \ Token endpoint at /Token. It will return a token when you use in the subsequent calls.\n\nToken\
        \ Authorization Request\n\nHeader | \nDescription | \n\nMethod | \nPOST | \n\nURL | \nhttps://api.pverify.com/Token\
        \ | \n\nContent-Type | \napplication/x-www-form-urlencoded | \n\nURL Params | \nNone | \n\nBody\
        \ | \nDescription | \n\nData Params* | \n\"Client_Id=\" + clientID + \"&client_secret=\" + ClientSecret\
        \ + \"&grant_type=client_credentials\" | \n\n*Note: The Client-API-Id header is required. Header\
        \ keys are case sensitive.\n\nThe /Token response includes the following fields:\n\nField | \n\
        Type | \nDescription | \n\naccess_token | \n{string} | \nAuthorization token unique to you which\
        \ is used to verify your authorization for subsequent calls. | \n\ntoken_type | \n{string} | \n\
        this is the token type which will be included before the access token in your subsequent method\
        \ calls. | \n\nexpires_in | \n{int} | \nThis is the amount of time that your token is valid for\
        \ (in seconds). |"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Client_Id:
                  type: string
                Client_Secret:
                  type: string
                grant_type:
                  type: string
              required:
              - Client_Id
              - Client_Secret
              - grant_type
            example:
              Client_Id: '{{client-api-id}}'
              Client_Secret: '{{client-secret}}'
              grant_type: client_credentials
      responses:
        '200':
          description: OK
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case
        sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the
        premium report endpoints.
