openapi: 3.2.0
info:
  title: pVerify Same or Similar API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Same or Similar
paths:
  /API/SameOrSimilarInquiry:
    post:
      operationId: sameOrSimilarInquiry
      tags:
      - Same or Similar
      summary: SameOrSimilarInquiry
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/SameOrSimilarInquiry |


        Production |

        https://api.pverify.com/API/SameOrSimilarInquiry |


        This endpoint submits a Same/Similar request into our queue.'
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memberId:
                  type: string
                  example: '1231234567'
                patientFirstName:
                  type: string
                  example: Test1
                patientLastName:
                  type: string
                  example: Test2
                patientDOB:
                  type: string
                  example: 01/02/2020
                patientStateCode:
                  type: string
                  example: NJ
                hcpcsCodes:
                  type: string
                  example: L3960,L3982,L3995
                dosStart:
                  type: string
                  example: 04/21/2020
                dosEnd:
                  type: string
                  example: 04/21/2020
                location:
                  type: string
                  example: location Name
                callBackUrl:
                  type: string
            example:
              memberId: '1231234567'
              patientFirstName: Test1
              patientLastName: Test2
              patientDOB: 01/02/2020
              patientStateCode: NJ
              hcpcsCodes: L3960,L3982,L3995
              dosStart: 04/21/2020
              dosEnd: 04/21/2020
              location: location Name
              callBackUrl: ''
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetSameOrSimilarResponse/{requestId}:
    get:
      operationId: getSameOrSimilarResponse
      tags:
      - Same or Similar
      summary: GetSameOrSimilarResponse
      description: 'Get Same or Similar Response Using Unique Request ID


        Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/GetSameOrSimilarResponse/125 |


        Production |

        https://api.pverify.com/API/GetSameOrSimilarResponse/125 |


        This call is used to get the transaction result later using a unique request ID.


        Note: We purge this data after 90 days


        Key |

        Value |


        URL |

        https://api.pverify.com/API/GetSameOrSimilarResponse/125 |


        Method |

        GET |


        Headers |

        Description |


        Content-Type |

        application/json |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        Notes


        Always check for apiResponseCode property value before processing.


        If APIResponseCode is zero then look for ErrorMessage and Claims to process response.


        A successful GetSameOrSimilarResponse will have the same format as the SameOrSimilarInquiry response.


        API Response Codes


        APIResponseCode |

        Description |


        0 |

        Processed |


        1 |

        Rejected |


        2 |

        NoFunds (Insufficient Account Balance) |


        3 |

        Pending (Pending need to get response later) |


        4 |

        InvalidRequest (Required Data Missing) |


        5 |

        InvalidFormat (data fields / data format is wrong) |


        6 |

        LocationError (Location is not configured) |


        Field Descriptions


        Same or Similar Response Details


        Property Name |

        Data Type |

        Description |


        RequestId |

        long |

        Same or Similar Request ID. |


        apiResponseCode |

        int |

        API transaction response code. Please see apiResponseCodes section. |


        apiResponseMessage |

        String |

        API transaction response message. |


        isDataError |

        boolean |

        True - when invalid patient details (Invalid MBI or Incorrect DOB, Name etc) |


        Claims |

        List |

        |


        |

        Contains claim status info. |

        |


        Message |

        String |

        Contains messages other than error messages (No claims found). |


        Status |

        String |

        Status of transaction. |


        Claim.HCPCS |

        String |

        Contains HCPCS returned in response. |


        Claim.Status |

        String |

        Contains Claim & Code status âAllowed ,Denied or No Claims. For Invalid data request it is Error. |


        Claim.DOSStart |

        String |

        Claim & Code Date of service start date. It is empty for Error or for No Claims. (Expected format: MM/dd/YYYY ie 01/01/2000) |


        Claim.DOSEnd |

        String |

        Claim & Code Date of service end date. It is empty for Jurisdiction A and D inquiries. It is empty for Error or for No Claims. (Expected format: MM/dd/YYYY ie 01/01/2000) |


        Claim.Unit |

        String |

        No of units. |


        Claim.SupplierName |

        String |

        Contains supplier name for all allowed or denied requests. Empty for no claims & error. |


        Claim.phone |

        String |

        Contains supplier phone number for all allowed or denied. Empty for no claims & error. |


        Claim.Message |

        String |

        Contains notes or error message, Ex: No claims found or Invalid MBI or Incorrect DOB or Incorrect name |


        DetailsURL |

        string |

        URL for the full report |'
      deprecated: true
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /PDFReport/SameorSimilar/{id}:
    get:
      operationId: getSameOrSimilarReport
      tags:
      - Same or Similar
      summary: Same Or Similar Report
      description: 'This returns a PDF report of the Same or Similar request.


        Note two things:


        The endpoint is premium.pverify.com


        Authentication token is not used, instead pass your API ID and Secret.'
      deprecated: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - clientApiId: []
        clientSecret: []
  /API/GetSameAndSimilarDetailsURL/{requestId}:
    get:
      operationId: getSameOrSimilarDetailsUrl
      tags:
      - Same or Similar
      summary: SoS Details URL
      description: 'Environment |

        URL |


        Test |

        /API/GetSameAndSimilarDetailsURL/{id} |


        Production |

        /API/GetSameAndSimilarDetailsURL/{id} |


        This GET method will return details URL with Same and Simialr Request ID as a parameter.


        GetSameAndSimilarDetailsURL Request


        Key |

        Value |


        URL |

        /API/GetSameAndSimilarDetailsURL/{id} |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Content-Type |

        application/json |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        GetSameAndSimilarDetailsURL Resposne


        Key |

        Value |


        isDetailsURLGenerated |

        True or false |


        url |

        string URL |


        errorMessage |

        Message when isDetailsURLGenerated is false |


        JSON Response


        {


        "isDetailsURLGenerated": true,


        "url": "https://premium.pverify.com/Details",


        "errorMessage": null


        }'
      deprecated: true
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
