openapi: 3.2.0
info:
  title: pVerify Claim Status API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Claim Status
paths:
  /API/ClaimStatusInquiry:
    post:
      operationId: claimStatusInquiry
      tags:
      - Claim Status
      summary: ClaimStatusInquiry
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/ClaimStatusInquiry |


        Production |

        https://api.pverify.com/API/ClaimStatusInquiry |


        The ClaimStatusInquiry is the second step of the workflow for obtaining Claim status Information through pVerify.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payerCode:
                  type: string
                  example: '00001'
                ProviderLastName:
                  type: string
                  example: lastname
                ProviderNPI:
                  type: string
                  example: '1234567890'
                ProviderFederalTaxId:
                  type: string
                payerClaimNumber:
                  type: string
                chargeAmount:
                  type: number
                  example: 732.87
                serviceStartDate:
                  type: string
                  example: 04/01/2020
                serviceEndDate:
                  type: string
                  example: 04/01/2020
                subscriber:
                  type: object
                  properties:
                    FirstName:
                      type: string
                    lastName:
                      type: string
                      example: lastname
                    dob:
                      type: string
                      example: 07/07/2010
                    memberID:
                      type: string
                      example: memberID
                    gender: {}
                isPatientDependent:
                  type: boolean
                  example: false
            example:
              payerCode: '00001'
              ProviderLastName: lastname
              ProviderNPI: '1234567890'
              ProviderFederalTaxId: ''
              payerClaimNumber: ''
              chargeAmount: 732.87
              serviceStartDate: 04/01/2020
              serviceEndDate: 04/01/2020
              subscriber:
                FirstName: ''
                lastName: lastname
                dob: 07/07/2010
                memberID: memberID
                gender: null
              isPatientDependent: false
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetClaimStatusResponse/{requestId}:
    get:
      operationId: getClaimStatusResponse
      tags:
      - Claim Status
      summary: GetClaimStatusResponse
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/GetClaimStatusResponse/{requestId} |


        Production |

        https://api.pverify.com/API/GetClaimStatusResponse/{requestId} |


        This GET method is used to obtain the transaction result later using a unique request ID. Note: the data is deleted after 90 days.


        Field |

        Description |


        URL |

        https://api.pverify.com/API/GetClaimStatusResponse/{requestId} |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Bearer XXX |


        Client-API-Id |

        client-api-id provided through pVerify |


        Content-Type |

        application/json |


        URL Parameters |

        Unique Request id |


        Data Parameters |

        None |


        A successful GetClaimStatusResponse call will have the same format as the ClaimStatusInquiry response (above).'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
