openapi: 3.2.0
info:
  title: pVerify Authentication API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Authentication
paths:
  /Token:
    post:
      operationId: createToken
      tags:
      - Authentication
      summary: Token
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/Token |


        Production |

        https://api.pverify.com/Token |


        The first step to using the system is a call to the Token endpoint at /Token. It will return a token when you use in the subsequent calls.


        Token Authorization Request


        Header |

        Description |


        Method |

        POST |


        URL |

        https://api.pverify.com/Token |


        Content-Type |

        application/x-www-form-urlencoded |


        URL Params |

        None |


        Body |

        Description |


        Data Params* |

        "Client_Id=" + clientID + "&client_secret=" + ClientSecret + "&grant_type=client_credentials" |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        The /Token response includes the following fields:


        Field |

        Type |

        Description |


        access_token |

        {string} |

        Authorization token unique to you which is used to verify your authorization for subsequent calls. |


        token_type |

        {string} |

        this is the token type which will be included before the access token in your subsequent method calls. |


        expires_in |

        {int} |

        This is the amount of time that your token is valid for (in seconds). |'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Client_Id:
                  type: string
                Client_Secret:
                  type: string
                grant_type:
                  type: string
              required:
              - Client_Id
              - Client_Secret
              - grant_type
            example:
              Client_Id: '{{client-api-id}}'
              Client_Secret: '{{client-secret}}'
              grant_type: client_credentials
      responses:
        '200':
          description: OK
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
