openapi: 3.2.0
info:
  title: pVerify CGX Widget API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: CGX Widget
paths:
  /Widget/Setup:
    post:
      operationId: createWidgetSetup
      tags:
      - CGX Widget
      summary: Setup
      description: 'Step 1 - Generate setupId to load widget in iframe


        SetupId will be required to load the widget in iframe. SetupId can be generated using Client ID and Client Secret. To generate SetupId, pass Client ID and Client Secret to following endpoint[POST] https://premium.pverify.com/Widget/Setupe.g.


        {

        "clientApiId":"xxxx-xxxx-xxxx-xxxx-xxxx-xxxx-xxxx",

        "clientSecret":"xxxxxxxxxxxxxxx"

        }


        It will generate a SetupId something like this XXXXxxXX-XXXX-XxXX-XxXX-XXxxXXXXxXX.


        Step 2 - Load iframe with following URL with setupIdIf you want to integrate Estimation widget, then set URL of iframe as shown belowhttps://premium.pverify.com/Component/EstimateInquiry?SetupId=setupId


        If you want to integrate Eligibility widget, then set URL of iframe as shown belowhttps://premium.pverify.com/Component/ElgInquiry?SetupId=setupId


        Details about SetupId


        1.Need to generate SetupId for each transaction


        2.SetupId is valid for 10 mins'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clientApiId:
                  type: string
                  example: xxxx-xxxx-xxxx-xxxx-xxxx-xxxx-xxxx
                clientSecret:
                  type: string
                  example: xxxxxxxxxxxxxxx
            example:
              clientApiId: xxxx-xxxx-xxxx-xxxx-xxxx-xxxx-xxxx
              clientSecret: xxxxxxxxxxxxxxx
      responses:
        '200':
          description: OK
  /api/CGXInquiry:
    post:
      operationId: cgxInquiry
      tags:
      - CGX Widget
      summary: CGXInquiry - Estimates and Eligibility Combo
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/CGXInquiry |


        Production |

        https://api.pverify.com/API/CGXInquiry |


        CGXInquiry is our combined Eligibility & Estimate endpoint.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                PayerCode:
                  type: string
                  example: 00192
                PayerName:
                  type: string
                  example: United HC
                MemberId:
                  type: string
                  example: '1234'
                PatientFirstName:
                  type: string
                  example: John
                PatientLastName:
                  type: string
                  example: Doe
                PatientDOB:
                  type: string
                  example: 01/01/2000
                Location:
                  type: string
                  example: Brooklyn
                AppointmentType:
                  type: string
                  example: MRI Brain
                CPTList:
                  type: array
                  items:
                    type: string
                    example: '77001'
                MRN:
                  type: string
                  example: '1234'
                IsActiveSecondry:
                  type: boolean
                  example: false
                SelfPay:
                  type: boolean
                  example: false
                PracticeTypeId:
                  type: integer
                  example: 25
            example:
              PayerCode: 00192
              PayerName: United HC
              MemberId: '1234'
              PatientFirstName: John
              PatientLastName: Doe
              PatientDOB: 01/01/2000
              Location: Brooklyn
              AppointmentType: MRI Brain
              CPTList:
              - '77001'
              - '77002'
              MRN: '1234'
              IsActiveSecondry: false
              SelfPay: false
              PracticeTypeId: 25
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
