# Derived from pVerify's published Postman collection: https://postman.pverify.com/
# method: derived  generated: 2026-08-14
openapi: 3.0.3
info:
  title: pVerify MBI Lookup API
  description: pVerify MBI Lookup API, derived operation-for-operation from the public Postman collection
    pVerify publishes at https://postman.pverify.com/ (last updated 03/01/2026). All calls require an
    OAuth2 bearer token from POST /Token plus the Client-API-Id header.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: MBI Lookup
paths:
  /API/MBIInquiry:
    post:
      operationId: mbiInquiry
      tags:
      - MBI Lookup
      summary: MBIInquiry
      description: "MBI Skip Mechanism:\n\nA transaction will be skipped if another transaction with same\
        \ parameters(First Name, Last Name, Date of Birth (DOB), State, and SSN) is run in the current\
        \ Calander month that is Processed/Processed with valid error\n\nMBI Request Fields\n\nProperty\
        \ Name | \nData Type | \nUsage | \nDescription | \n\nPatientSSN | \nString | \nDeprecated | \n\
        Patient’s SSN or HICN | \n\nPatientSSN_or_HICN | \nString | \nRequired | \nPatient’s SSN or HICN\
        \ | \n\nPatientFirstName | \nString | \nRequired | \nPatient first name | \n\nPatientLastName\
        \ | \nString | \nRequired | \nPatient last name | \n\nPatientDOB | \nString | \nRequired | \n\
        Patient DOB in MM/dd/yyyy format | \n\nProviderLastName | \nString | \nRequired | \nProvider Last\
        \ Name | \n\nProviderNPI | \nString | \nRequired | \nProvider NPI, format is 10 digits | \n\n\
        MRN | \nString | \nOptional | \nMedical record number , 50 chars are allowed. | \n\nAddress.AddressLine1\
        \ | \nString | \nOptional | \nPatient Street Address | \n\nAddress.City | \nString | \nOptional\
        \ | \nPatient City | \n\nAddress.State | \nString | \nOptional | \nPatient State | \n\nAddress.ZipCode\
        \ | \nString | \nOptional | \nPatient ZipCode |"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ProviderLastName:
                  type: string
                  example: ProviderLastName
                ProviderNPI:
                  type: string
                  example: '1234567890'
                PatientFirstName:
                  type: string
                  example: John
                PatientDOB:
                  type: string
                  example: 07/15/1956
                PatientLastName:
                  type: string
                  example: Doe
                PatientSSN_or_HICN:
                  type: string
                PatientSSN:
                  type: string
                MRN:
                  type: string
                  example: '1234'
                Location:
                  type: string
                Address:
                  type: object
                  properties:
                    AddressLine1:
                      nullable: true
                    City:
                      nullable: true
                    State:
                      type: string
                      example: MD
                    ZipCode:
                      nullable: true
            example:
              ProviderLastName: ProviderLastName
              ProviderNPI: '1234567890'
              PatientFirstName: John
              PatientDOB: 07/15/1956
              PatientLastName: Doe
              PatientSSN_or_HICN: ''
              PatientSSN: ''
              MRN: '1234'
              Location: ''
              Address:
                AddressLine1: null
                City: null
                State: MD
                ZipCode: null
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetMBIResponse/{requestId}:
    get:
      operationId: getMBIResponse
      tags:
      - MBI Lookup
      summary: GetMBIResponse
      description: "This call is used to get the transaction result later using unique request id which\
        \ is returned in MBIInquiry API call.\n\nSample Response\n\n{ \n \"RequestId\": \"482672\",\n\
        \ \"Status\":\"Processed\",\n\"ErrorMessage\": null,\n \"PatientSSN\": \"123XXXXXX\",\n\"PatientFirstName\"\
        : \"PatientFirstName\",\n\"PatientLastName\": \"PatientLastName\",\n\"PatientDOB\": \"mm/dd/yyyy\"\
        ,\n\"MBI\": \"234XXXXXXXXX\",\n\"MRN\": \"123435\",\n\"PartAStatus\": \"Active\",\n\"PartBStatus\"\
        : \"Active\",\n\"PartADate\": \"02/01/2021\",\n\"PartBDate\": \"02/01/2021\",\n\"ExpiredDate\"\
        : null,\n\"MedicareReason\":\"\",\n\"APIResponseCode\": 0,\n\"APIResponseMessage\": \"Processed\"\
        ,\n\"ProcessedWithError\":false,\n\"address\": {\n \"city\": \"City\",\n \"state\": \"MD\",\n\
        \ \"street\": \"310 main\",\n \"zip\": \"12345\"\n },\n\"recordCount\": \"1\",\n \"score\": \"\
        96\"\n}"
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case
        sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the
        premium report endpoints.
