openapi: 3.2.0
info:
  title: pVerify Insurance Discovery API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Insurance Discovery
paths:
  /api/InsuranceDiscovery:
    post:
      operationId: insuranceDiscovery
      tags:
      - Insurance Discovery
      summary: InsuranceDiscovery
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/InsuranceDiscovery |


        Production |

        https://api.pverify.com/API/InsuranceDiscovery |


        pVerify’s Insurance Discovery allows Hospitals and Providers to find a patient’s insurance coverage to collect potentially millions from insurance companies, allow prompt claim submission, increase patient payment collection, and drastically decrease Account Receivables.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doS_EndDate:
                  type: string
                  example: 04/28/2023
                doS_StartDate:
                  type: string
                  example: 04/28/2023
                patientStateId:
                  type: integer
                  example: 10
                patientState:
                  type: string
                patientSSN:
                  type: string
                patientLastName:
                  type: string
                  example: TEST
                patientFirstName:
                  type: string
                  example: TEST
                patientDOB:
                  type: string
                  example: 01/01/1950
                patientGender:
                  type: string
                  example: M
                location:
                  type: string
                  example: CA
                notes:
                  type: string
                verifyMedicare:
                  type: boolean
                  example: false
                patientHasDisability:
                  type: boolean
                  example: false
            example:
              doS_EndDate: 04/28/2023
              doS_StartDate: 04/28/2023
              patientStateId: 10
              patientState: ''
              patientSSN: ''
              patientLastName: TEST
              patientFirstName: TEST
              patientDOB: 01/01/1950
              patientGender: M
              location: CA
              notes: ''
              verifyMedicare: false
              patientHasDisability: false
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /api/GetInusuranceDiscoverySummaryResponse/{requestId}:
    get:
      operationId: getInsuranceDiscoverySummaryResponse
      tags:
      - Insurance Discovery
      summary: InsuranceDiscovery GET
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/GetInusuranceDiscoverySummaryResponse/{id} |


        Production |

        https://api.pverify.com/API/GetInusuranceDiscoverySummaryResponse/{id} |


        GetInusuranceDiscoverySummaryResponse returns the response from the InsuranceDiscovery POST call using a unique request id provided in the InsuranceDiscovery response.


        Headers


        Key |

        Value |


        URL |

        https://api.pverify.com/API/GetInusuranceDiscoverySummaryResponse/{id} |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Client-API-Id |

        API ID provided by pVerify |


        Content-Type |

        application/json |


        URL Parameters |

        RequestId returned in InsuranceDiscovery response |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        GetInusuranceDiscoverySummaryResponse Response Fields


        See InsuranceDiscovery response.'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetInsuranceDiscoveryDetailsURL/{requestId}:
    get:
      operationId: getInsuranceDiscoveryDetailsUrl
      tags:
      - Insurance Discovery
      summary: ID Details URL
      description: 'Environment |

        URL |


        Test |

        /API/GetInsuranceDiscoveryDetailsURL/{id} |


        Production |

        /API/GetInsuranceDiscoveryDetailsURL/{id} |


        This GET method will return details URL with Insurance Discovery Request ID as a parameter.


        GetInsuranceDiscoveryDetailsURL Request


        Key |

        Value |


        URL |

        /API/GetInsuranceDiscoveryDetailsURL/{id} |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Content-Type |

        application/json |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        GetInsuranceDiscoveryDetailsURL Resposne


        Key |

        Value |


        isDetailsURLGenerated |

        True or false |


        url |

        string URL |


        errorMessage |

        Message when isDetailsURLGenerated is false |


        JSON Response


        {


        "isDetailsURLGenerated": true,


        "url": "https://premium.pverify.com/Details",


        "errorMessage": null


        }'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /PDFReport/InsuranceDiscovery/{id}:
    get:
      operationId: getInsuranceDiscoveryReport
      tags:
      - Insurance Discovery
      summary: Insurance Discovery Report
      description: 'This returns a PDF report of the Insurance Discovery request.


        Note two things:


        The endpoint is premium.pverify.com


        Authentication token is not used, instead pass your API ID and Secret.


        Replace {id} with the requestid you receive from the Insurance Discovery request.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - clientApiId: []
        clientSecret: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
