openapi: 3.2.0
info:
  title: pVerify MBI Lookup API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: MBI Lookup
paths:
  /API/MBIInquiry:
    post:
      operationId: mbiInquiry
      tags:
      - MBI Lookup
      summary: MBIInquiry
      description: 'MBI Skip Mechanism:


        A transaction will be skipped if another transaction with same parameters(First Name, Last Name, Date of Birth (DOB), State, and SSN) is run in the current Calander month that is Processed/Processed with valid error


        MBI Request Fields


        Property Name |

        Data Type |

        Usage |

        Description |


        PatientSSN |

        String |

        Deprecated |

        Patient’s SSN or HICN |


        PatientSSN_or_HICN |

        String |

        Required |

        Patient’s SSN or HICN |


        PatientFirstName |

        String |

        Required |

        Patient first name |


        PatientLastName |

        String |

        Required |

        Patient last name |


        PatientDOB |

        String |

        Required |

        Patient DOB in MM/dd/yyyy format |


        ProviderLastName |

        String |

        Required |

        Provider Last Name |


        ProviderNPI |

        String |

        Required |

        Provider NPI, format is 10 digits |


        MRN |

        String |

        Optional |

        Medical record number , 50 chars are allowed. |


        Address.AddressLine1 |

        String |

        Optional |

        Patient Street Address |


        Address.City |

        String |

        Optional |

        Patient City |


        Address.State |

        String |

        Optional |

        Patient State |


        Address.ZipCode |

        String |

        Optional |

        Patient ZipCode |'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ProviderLastName:
                  type: string
                  example: ProviderLastName
                ProviderNPI:
                  type: string
                  example: '1234567890'
                PatientFirstName:
                  type: string
                  example: John
                PatientDOB:
                  type: string
                  example: 07/15/1956
                PatientLastName:
                  type: string
                  example: Doe
                PatientSSN_or_HICN:
                  type: string
                PatientSSN:
                  type: string
                MRN:
                  type: string
                  example: '1234'
                Location:
                  type: string
                Address:
                  type: object
                  properties:
                    AddressLine1: {}
                    City: {}
                    State:
                      type: string
                      example: MD
                    ZipCode: {}
            example:
              ProviderLastName: ProviderLastName
              ProviderNPI: '1234567890'
              PatientFirstName: John
              PatientDOB: 07/15/1956
              PatientLastName: Doe
              PatientSSN_or_HICN: ''
              PatientSSN: ''
              MRN: '1234'
              Location: ''
              Address:
                AddressLine1: null
                City: null
                State: MD
                ZipCode: null
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetMBIResponse/{requestId}:
    get:
      operationId: getMBIResponse
      tags:
      - MBI Lookup
      summary: GetMBIResponse
      description: 'This call is used to get the transaction result later using unique request id which is returned in MBIInquiry API call.


        Sample Response


        {

        "RequestId": "482672",

        "Status":"Processed",

        "ErrorMessage": null,

        "PatientSSN": "123XXXXXX",

        "PatientFirstName": "PatientFirstName",

        "PatientLastName": "PatientLastName",

        "PatientDOB": "mm/dd/yyyy",

        "MBI": "234XXXXXXXXX",

        "MRN": "123435",

        "PartAStatus": "Active",

        "PartBStatus": "Active",

        "PartADate": "02/01/2021",

        "PartBDate": "02/01/2021",

        "ExpiredDate": null,

        "MedicareReason":"",

        "APIResponseCode": 0,

        "APIResponseMessage": "Processed",

        "ProcessedWithError":false,

        "address": {

        "city": "City",

        "state": "MD",

        "street": "310 main",

        "zip": "12345"

        },

        "recordCount": "1",

        "score": "96"

        }'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
