openapi: 3.2.0
info:
  title: pVerify Payers API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Payers
paths:
  /API/GetAllPayers:
    get:
      operationId: getAllPayers
      tags:
      - Payers
      summary: GetAllPayers
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/GetAllPayers |


        Returns the list of current pVerify payers (pVerify payer code & pVerify Payer Name). Note backoffice (non-EDI) payers are denoted with a payer code prefix of BO. For example BO00018


        GetAllPayers Request


        Key |

        Value |


        URL |

        https://api.pverify.com/API/GetAllPayers |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Content-Type |

        application/json |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        GetAllPayers Response


        Key |

        Value |


        payerCode |

        Payer Code |


        payerName |

        Payer Name |


        isActive |

        Boolean determines if payer is active |


        isSupportingEligibility |

        Boolean determines if payer is supporting eligibility |


        isSupportingClaims |

        Boolean to see if payer is supporting claims |


        isEDIPayer |

        Boolean to see if payer is EDI |'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /api/GetPayerStatus:
    get:
      operationId: getPayerStatus
      tags:
      - Payers
      summary: GetPayerStatus
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/GetPayerStatus |


        This GET call will return the status of all pVerify payers. You can call this endpoint with an optional parameter of payerStatus and it will return payers from that status. By default the endpoint returns all payers and statuses. This API call does not require authentication.


        GetPayerStatus Request


        Key |

        Value |


        URL |

        http://api.pverify.com/api/GetPayerStatus |


        Method |

        GET |


        URL Params |

        Description |


        GetPayerStatus |

        Allows you to return specific payer status from response |


        Headers |

        None (this API call does not require authentication) |


        Body |

        None |


        URL Parameter payerStatus value and description


        Value |

        Description |


        Payer Up |

        Payer is Active and running transactions. |


        Payer Active |

        Payer is Active but no recent transactions. |


        Payer Inactive |

        This is marked as inactive in our system. |


        Payer Down |

        Payer is Active but more transactions are failing from the past one hour. |


        GetPayerStatus Response


        Key |

        Value |


        payerName |

        Name of payer |


        payer_Code |

        Payer code |


        payerStatus |

        Payer Status (see URL parameters description) |'
      responses:
        '200':
          description: OK
  /API/GetPayerStatusStatistics:
    get:
      operationId: getPayerStatusStatistics
      tags:
      - Payers
      summary: Down Payer List
      description: This API will return an array of payers that are known to be temporarily down.
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
        example: Rejected
      - name: checkForLastNumberOfHours
        in: query
        required: false
        schema:
          type: string
        example: '1'
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
