openapi: 3.2.0
info:
  title: pVerify SNF API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: SNF
paths:
  /API/SNFInquiry:
    post:
      operationId: snfInquiry
      tags:
      - SNF
      summary: SNF Inquiry
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/SNFInquiry |


        The pVerify API for SNF is like Same or Similar in that it will not deliver a result instantly, instead the user is expected to call the GET method 1 minute later.


        Key |

        Value |


        URL |

        https://api.pverify.com/API/SNFInquiry |


        Method |

        POST |


        Headers |

        Description |


        Content-Type |

        application/json |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Body |

        See Below |


        SNF Codes Inquiry Request Fields


        Key |

        Type |

        Usage |

        Value |


        PayerCode |

        String |

        Required |

        Payer Code |


        MemberId |

        String |

        Required |

        Member ID |


        PatientFirstName |

        String |

        Required |

        Patient First Name |


        PatientLastName |

        String |

        Required |

        Patient Last Name |


        PatientDOB |

        String |

        Required |

        Patient Date of Birth (MM/DD/YYYY) |


        PatientStateCode |

        String |

        Required |

        Patient State |


        DOS |

        String |

        Optional |

        Date of Service (MM/DD/YYYY) |


        Location |

        String |

        Optional |

        Location is the practice location. Note by setting this, you will lock the patient to one location, so that users that login in via our portal who are not authorized to see that location will not see the patient. |


        CallbackURL |

        String |

        Optional |

        JSON response will be posted to callbackURL when inquiry is processed and if callbackURL is valid. This URL should support HTTP POST method and Content-Type =’application/json’ |


        MRN |

        String |

        Optional |

        Medical Record Number (like Same or Similar, when populated we will send the results back to this URL) - optional |


        SNF Codes Inquiry Response Fields


        Key |

        Type |

        Description |


        requestId |

        String |

        requestId |


        Processed |

        boolean |

        Returns true if processed |


        isDataError |

        boolean |

        Determines if data error occurred |


        errorMessage |

        String |

        Error Message |


        Details |

        Object |

        Details |


        Details.DOSStart |

        String |

        Date of service start date (Format: MM/DD/YYYY) |


        Details.DOSEnd |

        String |

        Date of service end (Format: MM/DD/YYYY) |


        Details.AdmitanceDate |

        String |

        Admitance date |


        Details.DischargedDate |

        String |

        Discharged date |


        Details.BillingNPI |

        String |

        Billing NPI |


        Details.PatientStatus |

        String |

        Patient Status |


        Details.Message |

        String |

        Details Message |


        Details.SNFRequestId |

        Int |

        SNF request ID |


        Details.CreatedOn |

        String |

        Date and time created |


        Details.BillingType |

        String |

        Billing type |


        Message |

        String |

        Message |


        Status |

        String |

        Status |


        expectedTimeInSeconds |

        String |

        Expected time to get response (when you can call GET) |


        apiResponseCode |

        int |

        API Response Code |


        apiResponseMessage |

        String |

        API Response Message |'
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                PayerCode:
                  type: string
                  example: '00007'
                MemberId:
                  type: string
                  example: 123456789A
                PatientFirstName:
                  type: string
                  example: firstName
                PatientLastName:
                  type: string
                  example: lastName
                PatientDOB:
                  type: string
                  example: 01/02/1983
                PatientStateCode:
                  type: string
                  example: TX
                DOS:
                  type: string
                  example: 07/22/2020
                Location: {}
                CallbackURL: {}
                MRN: {}
            example:
              PayerCode: '00007'
              MemberId: 123456789A
              PatientFirstName: firstName
              PatientLastName: lastName
              PatientDOB: 01/02/1983
              PatientStateCode: TX
              DOS: 07/22/2020
              Location: null
              CallbackURL: null
              MRN: null
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetSNFResponse/{requestId}:
    get:
      operationId: getSNFResponse
      tags:
      - SNF
      summary: GetSNFResponse
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/GETSNFResponse |


        This GET call is intended to retrieve the SNF response initiated by the SNFInquiry POST call. By adding the requestId received in the POST call, users can retrieve the SNFInquiry Response.


        Key |

        Value |


        URL |

        https://api.pverify.com/API/GETSNFResponse |


        Method |

        GET |


        Headers |

        Description |


        Content-Type |

        application/json |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Body |

        None |


        URL Params |

        RequestId (see SNFInquiry) |


        GetSNFResponse Response Fields


        Key |

        Type |

        Description |


        requestId |

        String |

        requestId |


        Processed |

        boolean |

        Determines if processed |


        IsDataError |

        boolean |

        Determines if error occurred |


        errorMessage |

        String |

        Error Message |


        Details |

        Object |

        Details |


        Details.Id |

        int |

        Id |


        Details.DOSStart |

        String |

        Date of Service Start (MM/DD/YYYY) |


        Details.DOSEnd |

        String |

        Date of Service End (MM/DD/YYYY) |


        Details.AdmitanceDate |

        String |

        Admittance Date (MM/DD/YYYY) |


        Details.DischargedDate |

        String |

        Discharged Date (MM/DD/YYYY) |


        Details.BillingAPI |

        String |

        Billing API |


        Details.PatientStatus |

        String |

        Patient Status |


        Details.Message |

        String |

        Message |


        Details.SNFRequestID |

        int |

        SNF request ID |


        Details.CreatedOn |

        String |

        Time Stamp of date and time created |


        Details.BillingType |

        String |

        Billing Type |


        message |

        String |

        Message |


        status |

        String |

        Status |


        apiResponseCode |

        int |

        API Response Code |


        apiResponseMessage |

        String |

        API Response Message |'
      deprecated: true
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
