openapi: 3.2.0
info:
  title: pVerify Eligibility API
  description: Real-time healthcare insurance eligibility and revenue-cycle API. Derived operation-for-operation from the public Postman collection pVerify publishes at https://postman.pverify.com/ (collection 6ceb8797-50ff-42fd-98a3-64beefaa6c94, last updated 03/01/2026). Covers eligibility (270/271), dental eligibility, insurance discovery, MBI lookup, patient demographic validation, claim status (276/277), patient cost estimation, payer lists and the CGX widget.
  version: '1.0'
  termsOfService: https://pverify.com/privacy-policy/
  contact:
    name: pVerify Support
    email: support@pverify.com
    url: https://pverify.com/contact-support/
servers:
- url: https://api.pverify.com
  description: Production
- url: https://testapi.pverify.com
  description: Test environment published by pVerify
tags:
- name: Eligibility
paths:
  /api/EligibilitySummary:
    post:
      operationId: eligibilitySummary
      tags:
      - Eligibility
      summary: EligibilitySummary
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/EligibilitySummary |


        Production |

        https://api.pverify.com/API/EligibilitySummary |


        Eligibility summary is our 2nd gen eligibility endpoint designed to cover the vast majority of payers and return simplified objects with key data such as copay for your practice type.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payerCode:
                  type: string
                  example: 00192
                payerName:
                  type: string
                  example: UHC
                provider:
                  type: object
                  properties:
                    firstName:
                      type: string
                    middleName:
                      type: string
                    lastName:
                      type: string
                      example: ' provider last  name'
                    npi:
                      type: string
                      example: '1234567890'
                    pin:
                      type: string
                      example: '00000'
                subscriber:
                  type: object
                  properties:
                    firstName:
                      type: string
                      example: fname
                    dob:
                      type: string
                      example: mm/dd/yyyy
                    lastName:
                      type: string
                      example: lname
                    memberID:
                      type: string
                      example: 123sfadfaf
                dependent: {}
                isSubscriberPatient:
                  type: string
                  example: 'True'
                doS_StartDate:
                  type: string
                  example: 02/02/2021
                doS_EndDate:
                  type: string
                  example: 02/02/2021
                PracticeTypeCode:
                  type: string
                  example: '3'
                referenceId:
                  type: string
                  example: Pat MRN
                Location:
                  type: string
                  example: Any location Name
                IncludeTextResponse:
                  type: string
                  example: 'false'
                InternalId:
                  type: string
                CustomerID:
                  type: string
                PlaceOfService:
                  type: string
                  example: '01'
            example:
              payerCode: 00192
              payerName: UHC
              provider:
                firstName: ''
                middleName: ''
                lastName: ' provider last  name'
                npi: '1234567890'
                pin: '00000'
              subscriber:
                firstName: fname
                dob: mm/dd/yyyy
                lastName: lname
                memberID: 123sfadfaf
              dependent: null
              isSubscriberPatient: 'True'
              doS_StartDate: 02/02/2021
              doS_EndDate: 02/02/2021
              PracticeTypeCode: '3'
              referenceId: Pat MRN
              Location: Any location Name
              IncludeTextResponse: 'false'
              InternalId: ''
              CustomerID: ''
              PlaceOfService: '01'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/GetEligibility271/{requestId}:
    get:
      operationId: getEligibility271
      tags:
      - Eligibility
      summary: GetEligibility271
      description: 'Environment |

        URL |


        Test |

        https://testapi.pverify.com/API/GetEligibility271/{id} |


        Production |

        https://api.pverify.com/API/GetEligibility271/{id} |


        This GET method will return EDI 271 Raw response with Eligibility Request ID as a parameter.


        GetEligibility271 Request


        Key |

        Value |


        URL |

        https://api.pverify.com/API/GetEligibility271/{id} |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        GetEligibility271 Response


        Key |

        Value |


        EDI271ANSI |

        ANSI String for request or Error Message |'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/EasyEligibilitySummary:
    post:
      operationId: easyEligibilitySummary
      tags:
      - Eligibility
      summary: EasyEligibilitySummary
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/EasyEligibilitySummary |


        The Easy Eligibility Summary call is intended to generate an Eligibility Summary Response in just one step.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payerCode:
                  type: string
                  example: '00001'
                payerName:
                  type: string
                  example: Aetna
                Provider_LastName:
                  type: string
                  example: SAM MD
                Provider_NPI:
                  type: string
                  example: '1234567890'
                Provider_PIN:
                  type: string
                  example: '00000'
                Patient_First:
                  type: string
                  example: John
                Patient_DOB:
                  type: string
                  example: 10/02/2010
                Patient_Last:
                  type: string
                  example: Deo
                memberID:
                  type: string
                  example: 123456789A
                Date_Of_Service:
                  type: string
                  example: 07/17/2020
                referenceId:
                  type: string
                Location:
                  type: string
                PracticeTypeCode:
                  type: string
                  example: '18'
                IncludeTextResponse:
                  type: boolean
                  example: false
                InternalId:
                  type: string
                CustomerID:
                  type: string
            example:
              payerCode: '00001'
              payerName: Aetna
              Provider_LastName: SAM MD
              Provider_NPI: '1234567890'
              Provider_PIN: '00000'
              Patient_First: John
              Patient_DOB: 10/02/2010
              Patient_Last: Deo
              memberID: 123456789A
              Date_Of_Service: 07/17/2020
              referenceId: ''
              Location: ''
              PracticeTypeCode: '18'
              IncludeTextResponse: false
              InternalId: ''
              CustomerID: ''
      responses:
        '200':
          description: OK
      security:
      - clientApiId: []
        clientSecret: []
  /API/GetPendingInquiries:
    get:
      operationId: getPendingInquiries
      tags:
      - Eligibility
      summary: GetPendingInquiries
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/GetPendingInquiries?DOS=01-01-2018 |


        This endpoint will retrieve a list of pending transactions. It is intended to show which back office eligibility transactions are not complete yet, given the DOS as an input.


        GetPendingInquiries Request


        Key |

        Value |


        URL |

        https://api.pverify.com/API/GetPendingInquiries?DOS=01-01-2018 |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id |

        Your pVerify client-api-id |


        URL Parameters |

        Date of Service (format is MM-DD-YYYY) |'
      parameters:
      - name: DOS
        in: query
        required: false
        schema:
          type: string
        example: 01-01-2018
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /API/CancelTransaction:
    post:
      operationId: cancelTransaction
      tags:
      - Eligibility
      summary: CancelTransaction
      description: 'Environment |

        URL |


        Production |

        https://api.pverify.com/API/CancelTransaction |


        This POST call will cancel a transaction. It is intended for use with back office transactions, to cancel a transaction that is not able to be completed in time for the patients visit.


        CancelTransaction Request


        Key |

        Value |


        URL |

        https://api.pverify.com/API/CancelTransaction |


        Method |

        POST |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        pVerify client-api-id |


        Content-Type |

        application/json |


        Body |

        Description |


        transactionId |

        Transaction ID for transaction you wish to cancel |


        *Note: The Client-API-Id is required in header. Header keys are case sensitive.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transactionId:
                  type: integer
                  example: 12345455
            example:
              transactionId: 12345455
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
  /Report/EligibilityPDFReport/{requestId}:
    get:
      operationId: getEligibilityPdfReport
      tags:
      - Eligibility
      summary: EligibilityPDFReport
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - clientApiId: []
        clientSecret: []
  /API/GetEligibilityDetailsURL/{requestId}:
    get:
      operationId: getEligibilityDetailsUrl
      tags:
      - Eligibility
      summary: Details URL
      description: 'Environment |

        URL |


        Test |

        /API/GetEligibilityDetailsURL/{id} |


        Production |

        /API/GetEligibilityDetailsURL/{id} |


        This GET method will return details URL with Eligibility Request ID as a parameter.


        GetEligibilityDetailsURL Request


        Key |

        Value |


        URL |

        /API/GetEligibilityDetailsURL/{id} |


        Method |

        GET |


        Headers |

        Description |


        Authorization |

        Authorization token from above preceded by the String "Bearer" |


        Client-API-Id* |

        Your pVerify client-api-id |


        Content-Type |

        application/json |


        *Note: The Client-API-Id header is required. Header keys are case sensitive.


        GetEligibilityDetailsURL Resposne


        Key |

        Value |


        isDetailsURLGenerated |

        True or false |


        url |

        string URL |


        errorMessage |

        Message when isDetailsURLGenerated is false |


        JSON Response


        {


        "isDetailsURLGenerated": true,


        "url": "https://premium.pverify.com/Details",


        "errorMessage": null


        }'
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
        description: Unique pVerify transaction / request id returned by the matching inquiry call.
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
        clientApiId: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 access token returned by POST /Token, sent as `Authorization: Bearer <token>`.'
    clientApiId:
      type: apiKey
      in: header
      name: Client-API-Id
      description: Client API identifier issued by pVerify. Required on every call; header keys are case sensitive.
    clientSecret:
      type: apiKey
      in: header
      name: Client-Secret
      description: Client secret issued by pVerify, used by the one-step (no-token) endpoints and the premium report endpoints.
